<configuration>
  <appender name="CSV" class="ch.qos.logback.core.FileAppender">
    <file>logs/tests.csv</file>
    <encoder>
      <pattern>%X{testCase},%X{scenario},%X{entered},%X{expected},%X{actual},%X{status}%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CSV" />
  </root>
</configuration>
